body {

}
.firstchild ul {

}
.root-tree {
    font-size:35px;
    cursor:pointer;
}
p {
    margin:0;
}
ul, li {
    list-style:none;
    font-size:30px;
}
textarea {
    max-width: 400px;
    min-height:100px;
}
.result {
    border:1px solid #ccc;
    padding:20px;
}
.tree-container {
    margin-top:20px;
}
.node {
    display:inline-block;
    min-width:200px;
    max-width:100%;
    padding:0 20px;
    cursor:pointer;
}
.node.active {
    background:#ccc;
    border-radius:5px;
}
span .fa {
    color:#5cb85c;
    font-size:40px;
}
.result-text {
    color:#5cb85c;
    font-size:30px;
}