<!DOCTYPE html>
<html>
	<head>
		<title>Quick sort/hash program</title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body ng-app="app">
		<div ng-controller="AppController" class="container">
			<h1>Quick sort/hash program</h1>
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
					  <li role="presentation" class="tabs {{tabs==0?'active':''}}" ng-click="switchTabs(0)"><a href="#">QUICK SORT</a></li>
					  <li role="presentation" class="tabs {{tabs==1?'active':''}}" ng-click="switchTabs(1)"><a href="#">HASH TABLE</a></li>
					</ul>
				</div>
			</div>
			<div class="row output" ng-show="tabs==0">
				<div class="col-md-12">
					<h4>OUT PUT</h4>
					<div class="output-area">
						<p ng-if="!outputString">NO OUTPUT</p>
						<p>{{outputString}}</p>
					</div>
				</div>
			</div>
            <div class="row output" ng-show="tabs==1">
                <div class="col-md-12">
                    <h4>OUT PUT</h4>
                    <div class="output-area" ng-if="hashArray.length">
                        <ul>
                            <li ng-repeat="room in hashArray">
                                <span>{{$index}}:</span>
                                <span ng-repeat="item in room.storage track by $index" class="num-span">{{item}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12 form-group">
					<h4>INPUT</h4>
					<textarea class="form-control" ng-model="inputs"></textarea>
					 <div>
						<button ng-click="submit()" type="button" class="btn btn-success">SUBMIT DATA</button>
						<button ng-click="random()" type="button" class="btn btn-success">RANDOM INPUT</button>
					 </div>
				</div>
			</div>
		</div>
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/app-controller.js"></script>
	</body>
</html>